.bg-price {
  background-image: linear-gradient(
      rgba(255, 249, 247, 0.7),
      rgba(255, 249, 247, 0.7)
    ),
    url('../../modules/Price/img/bg_price320@1x.jpeg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .bg-price {
    background-image: linear-gradient(
        rgba(255, 249, 247, 0.7),
        rgba(255, 249, 247, 0.7)
      ),
      url('../../modules/Price/img/bg_price320@2x.jpeg');
  }
}

@media only screen and (min-width: 768px) {
  .bg-price {
    background-image: linear-gradient(
        rgba(255, 249, 247, 0.7),
        rgba(255, 249, 247, 0.7)
      ),
      url('../../modules/Price/img/bg_price768@1x.jpeg');
  }

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .bg-price {
      background-image: linear-gradient(
          rgba(255, 249, 247, 0.7),
          rgba(255, 249, 247, 0.7)
        ),
        url('../../modules/Price/img/bg_price768@2x.jpeg');
    }
  }
}

@media only screen and (min-width: 1440px) {
  .bg-price {
    background-image: linear-gradient(
        rgba(255, 249, 247, 0.7),
        rgba(255, 249, 247, 0.7)
      ),
      url('../../modules/Price/img/bg_price1440@1x.jpeg');
  }

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .bg-price {
      background-image: linear-gradient(
          rgba(255, 249, 247, 0.7),
          rgba(255, 249, 247, 0.7)
        ),
        url('../../modules/Price/img/bg_price1440@2x.jpeg');
    }
  }
}

/* Bg-Hero */

.bg-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../modules/Hero/assets/hero_mob.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../../modules/Hero/assets/hero_mob@2x.jpg');
  }

  @media only screen and (min-width: 768px) {
    background-image: url('../../modules/Hero/assets/hero_tab.jpg');

    @media only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url('../../modules/Hero/assets/hero_tab@2x.jpg');
    }
  }

  @media only screen and (min-width: 1440px) {
    background-image: url('../../modules/Hero/assets/hero_desk.jpg');

    @media only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url('../../modules/Hero/assets/hero_desk@2x.jpg');
    }
  }
}
/* Bg-About */

:root {
  --gradient-dark: linear-gradient(
      269deg,
      rgba(32, 32, 32, 0.8) 0.99%,
      rgba(0, 0, 0, 0) 33.32%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  --image-laser: url('../../modules/AboutUs/img/bg-laser.jpg');
  --image-electro: url('../../modules/AboutUs/img/bg-electro.jpeg');
}

.bg-laser::before,
.bg-laser-isOpen::before,
.bg-electro::before,
.bg-electro-isOpen::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}
.bg-laser::before,
.bg-laser-isOpen::before {
  background: var(--gradient-dark), var(--image-laser);
}

.bg-electro::before,
.bg-electro-isOpen::before {
  background: var(--gradient-dark), var(--image-electro);
}
.bg-laser-isOpen::before {
  width: 568px;
  background-position: -139.339px -179.386px;
  background-size: 138.792% 125.199%;
}

.bg-electro-isOpen::before {
  background-position: -17.217px 0px;
  background-size: 138.422% 126.823%;
}

.bg-laser::before {
  background-position: 0px -43.722px;
  background-size: 100% 177.908%;
}

.bg-electro::before {
  background-position: -0.507px -0.615px;
  background-size: 100% 195.053%;
}
@media (min-width: 768px) {
  .bg-laser::before {
    top: 70.5px;
    left: 179px;
    height: 487px;
    background-position: -69px -106.021px;
    background-size: 113.143% 159.807%;
  }

  .bg-electro::before {
    width: 594px;
    height: 487px;
    background: linear-gradient(90deg, #202020 0.28%, rgba(0, 0, 0, 0) 38.39%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      var(--image-electro);
    background-position: -0.124px 0px;
    background-size: 100.042% 134.157%;
  }
}
@media (min-width: 1440px) {
  .bg-laser::before {
    top: 20px;
    left: 470px;
    height: 560px;
    background-position: 0px -121.913px;
    background-size: 100% 159.807%;
  }

  .bg-electro::before {
    width: 683px;
    height: 560px;
    background: linear-gradient(
        89deg,
        rgba(32, 32, 32, 0.8) -2.58%,
        rgba(0, 0, 0, 0) 38.3%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      var(--image-electro);
    background-position: -0.142px 0px;
    background-size: 100.042% 134.157%;
  }
}

/* Bg-Header */

.bg-header {
  background-image: linear-gradient(
      rgba(255, 249, 247, 0.2),
      rgba(255, 249, 247, 0.2)
    ),
    url('../../modules/Header/assets/HeaderBG.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Bg-Footer */

.bg-footer {
  background-image: linear-gradient(
      rgba(255, 249, 247, 0.2),
      rgba(255, 249, 247, 0.2)
    ),
    url('../../modules/Footer/assets/Footer@2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Bg-Pages */

.bg-pages {
  background: linear-gradient(
        to right,
        rgba(253, 235, 229, 0.6) 0%,
        rgba(253, 235, 229, 0.6) 100%
      )
      no-repeat,
    rgba(255, 249, 247, 1);
  background-size: 50% 70%;
  background-position: 90% 100%;

  @media only screen and (min-width: 768px) {
    background-size: 47% 70%;
    background-position: 92% 100%;
  }

  @media only screen and (min-width: 1440px) {
    background-size: 40% 70%;
    background-position: 83% 100%;
  }
}
