@tailwind base;
@tailwind components;
@tailwind utilities;
@import './background';
@import './slider.css';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: TTChocolates-400, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff9f7;
}
* {
  scroll-behavior: smooth; /* Add smooth scrolling to all links */
}

@font-face {
  font-family: 'Caveat-400';
  src: url('../fonts/Caveat/Caveat-Regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-700';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Bold-700.otf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-500';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Medium-500.otf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-400';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Regular-400.otf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

body .react-select__Svg {
  width: 24px;
  height: 24px;
}
body .react-select__menu {
  top: 56px;
}
.tr-accordion {
  transition: all 300ms ease-in-out;
}

.tr-modal {
  transition: all 500ms cubic-bezier(0.1, 0.2, 0.3, 1);
}

.tr-all {
  transition: all 300ms cubic-bezier(0.1, 0.2, 0.3, 1);
}

.map-tiles {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3)
    brightness(0.9);
}

body .leaflet-popup-content p,
body .leaflet-popup-content svg,
body .leaflet-popup-content a {
  color: #1d1c1c;
  margin: 0;
}
body .leaflet-popup-content-wrapper {
  max-width: 320px;
}
.nav {
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: '';
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}
